$white: #ffffff;
$light-blue: #cddaf0;
$jysk-blue: #003187;
$dark: #373b42;
$copy: #46536c;
$green: #85b73c;
$orange: #f47b20;
$table-cell-border: #E6E6E6;
$table-cell-dark: #EFEFEF;
$table-head-text: #373b42;
$table-head: #C9C9C9;

$font-stack: 'Open Sans', Helvetica, Arial, sans-serif;