body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  @media (min-width: 480px) {
    body {
      margin: 70px 50px; } }

.product-name {
  font-size: 31px; }

.breadcrumb {
  font-size: 12px; }

.body-copy {
  font-size: 14px;
  padding-right: 30px;
  color: #46536c; }

h2 {
  font-size: 14px;
  font-weight: bold;
  color: #373b42; }

h3 {
  font-size: 19px;
  font-weight: bold;
  color: #373b42; }

.related-product-title {
  font-size: 26px;
  font-weight: 100; }

.green {
  color: #85b73c;
  font-size: 22px; }

.img-adaptive {
  float: right;
  min-width: 220px;
  max-width: 100%; }
  @media (min-width: 480px) {
    .img-adaptive {
      max-width: 280px;
      width: 30%;
      margin: auto; } }

.flex-2-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .flex-2-col .col {
    flex: 100%; }
    @media (min-width: 480px) {
      .flex-2-col .col {
        flex: 50%; } }

.item-row {
  display: flex;
  flex-flow: row wrap; }
  .item-row .icon {
    flex: 25%; }
  .item-row .item-text {
    flex: 75%; }

.item-col {
  display: flex;
  flex-flow: column wrap; }
  .item-col .icon {
    flex: 100%; }
  .item-col .item-text {
    text-align: center; }

.icon {
  vertical-align: middle;
  text-align: center; }
  .icon i {
    color: #ffffff;
    background-color: #003187;
    padding: 20px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    width: 45px;
    height: 45px; }

.fa-check {
  color: green;
  margin-right: 5px; }

.table-responsive {
  display: block;
  flex-wrap: wrap;
  color: #46536c; }
  @media (min-width: 800px) {
    .table-responsive {
      display: flex; } }
  .table-responsive span {
    display: block;
    flex: 100%; }

.table-cell {
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  border: solid 2px #E6E6E6;
  margin: -1px 0 0 -1px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  text-align: center; }
  @media (min-width: 800px) {
    .table-cell {
      width: 27%; } }

.table-cell-left {
  width: 100%;
  flex-shrink: 1;
  background-color: #EFEFEF;
  justify-content: left;
  align-items: flex-start;
  text-align: left; }
  @media (min-width: 800px) {
    .table-cell-left {
      width: 19%; } }

.table-cell-head {
  margin-top: 20px;
  color: #373b42;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #C9C9C9; }

/*# sourceMappingURL=defaultCSS.css.map */
