@import "variables";

body {
  font-family: $font-stack;
  @media (min-width: 480px) {
    margin:70px 50px;
  }
}

.product-name {
  font-size: 31px;
}

.breadcrumb {
  font-size: 12px;
}

.body-copy {
  font-size: 14px;
  padding-right: 30px;
  color: $copy;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  color: $dark;
}

h3 {
  font-size: 19px;
  font-weight: bold;
  color: $dark;
}

.related-product-title {
  font-size: 26px;
  font-weight: 100;
}

.green {
  color: $green;
  font-size: 22px;
}

.img-adaptive {
  float: right;
  min-width: 220px;
  max-width: 100%;
  @media (min-width: 480px) {
    max-width: 280px;
    width: 30%;
    margin: auto;
  }
}

.flex-2-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .col {
    flex: 100%;
    @media (min-width: 480px) {
      flex: 50%;
    }
  }
}

.item-row {
  display: flex;
  flex-flow: row wrap;
  .icon {
    flex: 25%;
  }
  .item-text {
    flex: 75%;
  }
}

.item-col {
  display: flex;
  flex-flow: column wrap;
  .icon {
    flex: 100%;
  }
  .item-text {
    text-align: center;
  }
}

.icon {
  vertical-align: middle;
  text-align: center;
  i {
    color: $white;
    background-color: $jysk-blue;
    padding: 20px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    width: 45px;
    height: 45px;
  }
}

.fa-check {
  color: green;
  margin-right: 5px;
}

.table-responsive {
  @media (min-width: 800px) {
    display: flex;
  }
  display: block;
  flex-wrap: wrap;
  color: $copy;
  span {
    display: block;
    flex: 100%;
  }
}

.table-cell {
  box-sizing: border-box;
  @media (min-width: 800px) {
    width: 27%;
  }
  width: 100%;
  min-height: 60px;
  border: solid 2px $table-cell-border;
  margin:-1px 0 0 -1px;
  display:flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content:center;
  align-items:center;
  padding: 0 25px;
  text-align: center;
}

.table-cell-left {
  @media (min-width: 800px) {
    width: 19%;
  }
  width: 100%;
  flex-shrink: 1;
  background-color: $table-cell-dark;
  justify-content:left;
  align-items: flex-start;
  text-align: left;
}

.table-cell-head {
  margin-top: 20px;
  color: $table-head-text;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $table-head;
}