header {
  background-color: white;
}
header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.sections.nav-sections.sticky {
  @media (min-width: 768px) {
    position: fixed;
    top: 131px;
    width: 100%;
    z-index: 5;
  }
}