header {
  background-color: white; }

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4; }

@media (min-width: 768px) {
  .sections.nav-sections.sticky {
    position: fixed;
    top: 131px;
    width: 100%;
    z-index: 5; } }

/*# sourceMappingURL=header.css.map */
