.owl-stage-outer {
  margin-left: 50px;
  .owl-stage {
    .owl-item {
      li.item {
        width: 100%;
      }
      text-align: left;
    }
  }
}
div.products-grid {
  position: relative;
}

#related-product-slider {
  top: 0;
}

.owl-nav {
  top: 0;
}

.product-item-info.related-available {
  margin: auto;
  &:hover {
    margin: auto;
    padding: 0;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
    outline: 1px solid #bbbbbb;
    border: none;
  }
}

.slider-title {
  text-align: center;
  color: #46536c;
}

.owl-prev {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -4%;
  display: block;
  border:0px solid black;
}

.owl-next {
  width: 40px;
  height: 100%;
  position: absolute;

  top: 0;
  left: 0;
  display: block;
  border:0px solid black;
}